<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include ("./partials/head") %>
<body>
    <!-- Header -->
    <%- include ("./partials/header") %>

    <main>
        <!-- Banner -->
        <%- include ("./partials/banner") %>

        <section class="productos">


            <h2>Consolas</h2>
            <div class="lista-de-productos">
                
                <% consolas.forEach(function(product){ %>
                    <div class="producto">
                        <h3><a href="/products/detail/<%= product.id %>"><%= product.name %></a></h3>
                        <img src="../img/<%= product.image %>" alt="">
                        <p><%= product.descripcion %></p>
                    </div>
                <% }) %>

            </div>
            
            <h2>Juegos</h2>
            <div class="lista-de-productos">
                
                <% juegos.forEach(function(product){ %>
                    <div class="producto">
                        <h3><a href="/products/detail/<%= product.id %>"><%= product.name %></a></h3>
                        <img src="../img/<%= product.image %>" alt="">
                        <p><%= product.descripcion %></p>
                    </div>
                <% }) %>

            </div>

        </section>

    </main>

    <!-- Footer -->
    <%- include ("./partials/footer") %>
    
</body>
</html>