<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include ("./partials/head") %>
<body>
    <!-- Header -->
    <%- include ("./partials/header") %>

    <main>
        <!-- Banner -->
        <%- include ("./partials/banner") %>

        <div class="perfil-usuario">
            <a href="/users/<%= user.id %>">
                <h2> Cuenta de <%= user.name %> </h2>
            </a>
            <img src="../img/uploads/users/<%= user.image %>" alt="" class="imagen-usuario">
            <a href="/products/<%= user.id %>/edit" class="botones">EDITAR PERFIL</a>
            <form action="/users/<%= user.id %>?_method=DELETE" method="POST">
                <button type="submit" class="botones">ELIMINAR</button>
            </form>
        </div>

    </main>

    <!-- Footer -->
    <%- include ("./partials/footer") %>
    
</body>
</html>