<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include ("./partials/head") %>
<body>
    <!-- Header -->
    <%- include ("./partials/header") %>

    <main>
        <!-- Banner -->
        <%- include ("./partials/banner") %>

        <div class="perfil-usuario">
            
            <h2> Cuenta de <%= user.name  %> </h2>
            <a href="/users/edit/<%= user.id %>" class="botones">EDITAR PERFIL</a>
            <a href="/users/delete/<%= user.id %>" class="botones">ELIMINAR PERFIL</button>  
                <a href="/products/admin" class="botones"> Administración productos </a>  
                <a href="/users/logout" class="botones">LOGOUT</a>
                    
        </div>

    </main>

    <!-- Footer -->
    <%- include ("./partials/footer") %>
    
</body>
</html>