<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include ("./partials/head") %>

    <body>
        <!-- Header -->
        <%- include ("./partials/header") %>

            <main>
                <!-- Banner -->
                <%- include ("./partials/banner") %>

                    <section class="productos">


                        <h2>Admin Products</h2>

                        <h3><a href="/products/create/">Crear Producto</a></h3>

                        <div class="lista-de-productos">

                            <% for ( let i=0; i < product.length; i++) { %>
                                <div class="producto">
                                    <h3><a href="/products/detail/<%= product[i].id %>">
                                            <%= product[i].name %>
                                        </a></h3>
                                    <img src="../uploads/products/<%= product[i].image %>" alt="">
                                    <a href="/products/edit/<%= product[i].id %>" class="botones">EDITAR</a>
                                    <br>
                                    <form action="/products/delete/<%= product[i].id %>?_method=DELETE" method="POST">
                                        <button type="submit" class="botones">ELIMINAR</button>
                                    </form>
                                </div>
                                <% } %>

                        </div>


                    </section>

            </main>

            <!-- Footer -->
            <%- include ("./partials/footer") %>

    </body>

</html>