<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include ("./partials/head") %>
<body>
    <!-- Header -->
    <%- include ("./partials/header") %>

    <main>
        <!-- Banner -->
        <%- include ("./partials/banner") %>
        
            <form method="POST" action="/products/edit/<%= product.id %>?_method=PUT" class="formulario" enctype="multipart/form-data">

            <h3>Modificar producto existente: <%= product.name %></h3>

            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" value="<%= product.name %>">
            <% if (locals.errors && errors.name) { %>
                <div class='text-danger'>
                   <%= errors.name.msg   %> 
                </div>
               <% } %>


            <label for="brand">Marca:</label>
            <select id="brand" name="brand">
                <option value="1">Sony</option>  
                <option value="2">Nintendo</option>
                <option value="3">Microsoft</option>   

            </select>  

            <label for="category">Tipo de Producto:</label>
            <select id="category" name="category">
                <option value="1">Consola</option>   
                <option value="2">Juego</option>  
                <option value="3">Accesorio</option>
              </select>  

              <label for="imgProd">Imagen del Producto:</label>
              <input type="file"
                     id="imgProd" name="image"
                     accept="image/png, image/jpe">
                     <% if (locals.errors && errors.name) { %>
                        <div class='text-danger'>
                           <%= errors.image.msg   %> 
                        </div>
                       <% } %>

            <label for="price">Precio:</label>
            <input type="number" id="price" name="price" value="<%= product.price %>">

            <label for ='description'>Descripción</label>
            <textarea name="description" rows="10" cols="30" ><%= product.description %></textarea>   
            <% if (locals.errors && errors.name) { %>
                <div class='text-danger'>
                   <%= errors.description.msg   %> 
                </div>
               <% } %> 

            <button id="agregarProd" action="submit">Modificar</button>
            <button id='reiniciarProd'action='reset'>Resetear formulario</button>

        </form>

            <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                <button type="submit" class="botones">ELIMINAR</button>
            </form>

    <!-- Footer -->
    <%- include ("./partials/footer") %>
    <script src="/js/productValidation.js"></script>
</body>
</html>