<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include ("./partials/head") %>
<body>
    <!-- Header -->
    <%- include ("./partials/header") %>

    <main>
        <!-- Banner -->
        <%- include ("./partials/banner") %>

        <h1 class="titulo-producto"><a href="/products/detail/<%= product.id %>"><%= product.name %></a></h1>
        <img src="/uploads/products/<%= product.image %>" alt="" class="imagen-producto">
        <div class="control-botones">
            <button type="button" class="botones">Agregar al carrito</button>
            <button type="button" class="botones">Comprar ahora</button>
            <a href="/products/edit/<%= product.id %>" class="botones">EDITAR PRODUCTO</a>
        </div>
        <section class="descripcion">
            <p><%= product.description %></p>
        </section>

    </main>

    <!-- Footer -->
    <%- include ("./partials/footer") %>
    
</body>
</html>