<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include ("./partials/head") %>
<body>
    <!-- Header -->
    <%- include ("./partials/header") %>

    <main>
        <!-- Banner -->
        <%- include ("./partials/banner") %>

        <div class="perfil-usuario">
            
                <h2> Cuenta de <%= user.username %> </h2>
            </a>
            <!-- <img src="../img/uploads/users/<%= //user.image %>" alt="" class="imagen-usuario"> -->
            <a href="/users/edit/<%= user.id %>" class="botones">EDITAR PERFIL</a>
            <form action="/users/<%= user.id %>?_method=DELETE" method="POST">
                <button type="submit" class="botones">ELIMINAR</button>
            </form>
        </div>

    </main>

    <!-- Footer -->
    <%- include ("./partials/footer") %>
    
</body>
</html>